@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor: @ViewData["Professor"]</p>
<p>Desenvolvedor responsável: @ViewData["Desenvolvedor responsável"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.github.com/rjsilvaoficial/SalesWebMVC2">https://www.github.com.br/rjsilvaoficial</a>
</address>
